.row {
    margin-top: 4px;
}

#wrapper {
    border: 10px solid green;
}

#header {
    height: 50px;
    background-color: #ffffcc;
}

#menu {
    height: 24px;
    background-color: tomato;
}

#body {
    margin-top: 30px;
    padding: 10px;
}

#footer {
    height: 30px;
    background-color: tomato;
}

